In [ ]:
##List and its default functions

APPEND

In [1]:
a = ["bee", "moth"]
print(a)

['bee', 'moth']

In [3]:
a.append("ant")
print(a)

['bee', 'moth', 'ant']

EXTEND(ITERABLE)

In [4]:
a = ["bee", "moth"]
print(a)

['bee', 'moth']

In [5]:
a.extend(["ant", "fly"])
print(a)

['bee', 'moth', 'ant', 'fly']

INSERT

In [6]:
a = ["bee", "moth"]
print(a)

['bee', 'moth']

In [7]:
a.insert(0, "ant")
print(a)

['ant', 'bee', 'moth']

In [8]:
a.insert(2, "fly")
print(a)

['ant', 'bee', 'fly', 'moth']

REMOVE

In [9]:
a = ["bee", "moth", "ant"]
print(a)

['bee', 'moth', 'ant']

In [10]:
a.remove("moth")
print(a)

['bee', 'ant']

CLEAR

In [11]:
a = ["bee", "moth", "ant"]
print(a)

['bee', 'moth', 'ant']

In [12]:
a.clear()
print(a)

[]

## DICTIONARY
ADDING A NEW ITEM

In [13]:
user = {"Name": "Christine", "Age": 23}
print(user)
# Add a new item and print
user["Height"] = 154
print(user)

{'Name': 'Christine', 'Age': 23}
{'Name': 'Christine', 'Age': 23, 'Height': 154}

UPDATE

In [14]:
user = {"Name": "Christine", "Age": 23}
print(user)
# Update the user's age and print
user["Age"] = 24
print(user)

{'Name': 'Christine', 'Age': 23}
{'Name': 'Christine', 'Age': 24}

DELETE

In [15]:
planet_size = {"Earth": 40075, "Saturn": 378675, "Jupiter": 439264}
print(planet_size)
# Delete an item then print
del planet_size["Jupiter"]
print(planet_size)

{'Earth': 40075, 'Saturn': 378675, 'Jupiter': 439264}
{'Earth': 40075, 'Saturn': 378675}

In [16]:
# Dictionary Built-in Functions
squares = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: False
print(all(squares))

# Output: True
print(any(squares))

# Output: 6
print(len(squares))

# Output: [0, 1, 3, 5, 7, 9]
print(sorted(squares))

False
True
6
[0, 1, 3, 5, 7, 9]

## sets and its default functions
ADD

In [18]:
Months = set(["January","February", "March", "April", "May", "June"])    
  
print(Months)    
  
Months.add("July");    
Months.add ("August");    
  
print(Months)

{'January', 'March', 'June', 'May', 'April', 'February'}
{'July', 'August', 'January', 'March', 'June', 'May', 'April', 'February'}

UPDATE

In [19]:
Months = set(["January","February", "March", "April", "May", "June"])    
   
print(Months)    
   
Months.update(["July","August","September","October"]);    
    
print(Months);

{'January', 'March', 'June', 'May', 'April', 'February'}
{'July', 'August', 'January', 'September', 'October', 'March', 'June', 'May', 'April', 'February'}

In [ ]:
DISCARD

In [20]:
months = set(["January","February", "March", "April", "May", "June"])    
   
print(months)    
   
months.discard("January");

{'January', 'March', 'June', 'May', 'April', 'February'}

REMOVE

In [21]:
months = set(["January","February", "March", "April", "May", "June"])    
    
print(months)    
    
months.remove("January");    
months.remove("May");

{'January', 'March', 'June', 'May', 'April', 'February'}

UNION

In [23]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1.union(Days2)) #printing the union of the sets

{'Saturday', 'Wednesday', 'Thursday', 'Tuesday', 'Friday', 'Sunday', 'Monday'}

INTERSECTION

In [24]:
set1 = {"Devansh","John", "David", "Martin"}    
set2 = {"Steve", "Milan", "David", "Martin"}    
print(set1.intersection(set2)) #prints the intersection of the two sets

{'Martin', 'David'}

## STRINGS
CAPITALIZE

In [26]:
str = "nithya"  
# Calling function  
str2 = str.capitalize()  
# Displaying result  
print("Old value:", str)  
print("New value:", str2)

Old value: nithya
New value: Nithya

CASEFOLD

In [27]:
str = "NITHYA"  
# Calling function  
str2 = str.casefold()  
# Displaying result  
print("Old value:", str)  
print("New value:", str2)

Old value: NITHYA
New value: nithya

ISUPPER

In [29]:
str = "RAMA KRISHNA"  
# Calling function  
str2 = str.isupper()  
# Displaying result  
print(str2)

True

IS LOWER

In [30]:
str = "rama krishna"  
# Calling function  
str2 = str.isupper()  
# Displaying result  
print(str2)

False

SWAPCASE

In [31]:
str = "HELLO "  
# Calling function  
str2 = str.swapcase()  
# Displaying result  
print (str2)

hello

## TUPLES

LENGTH

In [33]:
tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')
print ("First tuple length : ", len(tuple1))
print ("Second tuple length : ", len(tuple2))

First tuple length :  3
Second tuple length :  2

MAX

In [34]:
tuple1, tuple2 = ('maths', 'che', 'phy', 'bio'), (456, 700, 200)
print ("Max value element : ", max(tuple1))
print ("Max value element : ", max(tuple2))

Max value element :  phy
Max value element :  700

MIN

In [35]:
tuple1, tuple2 = ('maths', 'che', 'phy', 'bio'), (456, 700, 200)
print ("min value element : ", min(tuple1))
print ("min value element : ", min(tuple2))

min value element :  bio
min value element :  200

SEQ

In [36]:
list1 = ['maths', 'che', 'phy', 'bio']
tuple1 = tuple(list1)
print ("tuple elements : ", tuple1)

tuple elements :  ('maths', 'che', 'phy', 'bio')